$padding: 20px;

.Button {
  padding: $padding;
  background-color: $primary;
  color: black;
  border-radius: 40px;
  transition: 0.1s;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  &.full {
    width: calc(100% - ($padding * 2));
  }

  &:active {
    transform: scale(0.95);
  }
}
