.Result {
  background-image: url("/img-result-page.png");
  background-size: calc(100% + 5px) calc(100% + 5px);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
