.UserInput {
  position: fixed;
  bottom: 0;
  padding: 20px 16px 24px 16px;
  display: flex;
  column-gap: 8px;
  align-items: center;
  width: 100%;
  background: linear-gradient(to top, rgb(255, 255, 255) 80%, transparent 100%);
  transition: 0.3s;

  &.listening {
    justify-content: center;
  }

  .mic {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.listening {
      width: 100%;
    }

    .guide-text {
      font-size: 13px;
      color: $medium;
      margin-bottom: 16px;
    }

    .text-container {
      overflow-y: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: $mic-text-container-height;
      padding: 10px;
      border-radius: 16px;
      background-color: white;
      box-shadow: inset 0 0 0 1px black;
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}
