.Chat {
  position: relative;
  padding: 16px 0 90px 0;

  .messages {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }

  .input-container {
    position: fixed;
    bottom: 0;
    padding: 20px 16px 24px 16px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    width: 100%;
    background: linear-gradient(
      to top,
      rgb(255, 255, 255) 80%,
      transparent 100%
    );
  }
}
